<%- include("../../../partials/header") %>
<link rel="stylesheet" href="stylesheets/product/product.css">
<div id="product" class="product my-5 d-flex justify-content-center align-items-center">

    <div class="container mx-1 ">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-9 main-div-1 py-3">
                <div class="product_name container pb-5 d-flex justify-content-center">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-center">
                                <h1 style="font-weight: 700;">Sliding Gate Operator<br>Inbuilt Controls</h1>
                                <h2 style="color: grey;">315LAGS</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product_image container pb-5 d-flex justify-content-center align-items-center">
                    <div class="row d-flex">
                        <div class="col-12 d-flex justify-content-center">
                            <img src="images/products/sample/operator.png" alt="" class="img-fluid">
                        </div>
                        <div class="row d-flex">
                            <div class="col-12 col-lg-4 d-flex justify-content-center mt-5">
                                <img src="images/products/sample/pc-cover.png" alt="" class="img-fluid">
                            </div>
                            <div class="col-12 col-lg-4 d-flex justify-content-center mt-5">
                                <img src="images/products/sample/ss-control-cover.png" alt="" class="img-fluid">
                            </div>
                            <div class="col-12 col-lg-4 d-flex justify-content-center mt-5">
                                <img src="images/products/sample/ss-control.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="product_specification d-flex justify-content-center align-items-center">
                    <div class="container my-4 text-center ">
                        <div class="row g-2 d-flex justify-content-center align-items-center">
                            <div class="col-12 col-lg-5 d-flex align-items-center justify-content-center mx-2">
                                <div class="product_information_wrapper_div py-5">
                                    <span class="product_information_wrapper">
                                        <p>Motor Power <br> <span class="product_information_bold">750W</span></p>
                                    </span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5 d-flex align-items-center justify-content-center mx-2" style="background-color: black; border-radius: 20px; color: white; ">
                                <div class="product_information_wrapper_div py-5">
                                    <span class="product_information_wrapper" >
                                        <p>Maximum. <br> Gate weight <br> <span class="product_information_bold">3500kg</span></p>
                                    </span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5 d-flex align-items-center justify-content-center mx-2" style="background-color: orange; border-radius: 20px;">
                                <div class="product_information_wrapper_div py-5">
                                    <span class="product_information_wrapper" >
                                        <p>Input Power <br> <span class="product_information_bold" >240V</span> 10A</p>
                                    </span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5 d-flex align-items-center justify-content-center" style="background-color: rgb(255, 201, 99); border-radius: 20px;">
                                <div class="product_information_wrapper_div py-5">
                                    <span class="product_information_wrapper">
                                        <p>Speed <br> <span class="product_information_bold">315</span> mm/s</p>
                                    </span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5 d-flex align-items-center justify-content-center mx-2" style="background-color: black; border-radius: 20px; color: white; height: 400px;">
                                <div class="product_information_wrapper_div">
                                    <span class="product_information_wrapper" >
                                        <p>Control Board <br> <span class="product_information_bold">CB6</span></p>
                                    </span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5 d-flex align-items-center justify-content-center" style="border-radius: 20px; height: 400px; ">
                                <div class="container" style="height: 100%;">
                                    <div class="row" style="height: 100%;">
                                        <div class="col-12 d-flex align-items-center justify-content-center">
                                            <div class="product_information_wrapper_div py-5" >
                                                <span class="product_information_wrapper" >
                                                    <p>Linear Force <br>upto <span class="product_information_bold">200kg</span></p>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-12 d-flex align-items-center justify-content-center" style="background-color: orange; border-radius: 20px;">
                                            <div class="product_information_wrapper_div py-5" >
                                                <span class="product_information_wrapper" >
                                                    <p>Duty Cycle <br> <span class="product_information_bold">100%</span></p>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
        
                    </div>
                </div>
                <div class="product_description">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <span>
                                    <b>Single phase 240V inverter driven sliding gate operators are designed to provide the force and intensity of a 3 phase motor with a convenience of single phase output.</b>
                                    <br>
                                    <b>Inverter upgrades available to suit your application.</b>
                                    <br> <br>
                                    <b>Sliding gate operators</b>
                                    <ul>
                                        <li>Inverter driven with a powerful microprocessing control board which allows maximum functionality which means they are easily adjustable to ramp up/down the opening and closing speeds for the ultimate experience in gate automation.</li>
                                        <li>Fast emergency stopping feature with inbuilt easy limits.</li>
                                        <li>100% duty cycle</li>
                                    </ul>
                                    <br> <br>
                
                                </span>
                            </div>
                            <!-- <div class="col-12">
                                <span><b>Technicalities</b><hr></span>
                                <ul>
                                    <li>Maximum gate length for 630I is 10m.</li>
                                </ul>
                                <br>
                            </div> -->
                            <div id="accessory" class="col-12">
                                <span><b>Accessories</b><hr></span>
                                <div class="container">
                                    <div class="accessory_row row d-flex justify-content-center" style="transform: translateY(1.7rem);">
                                        <div class="col-2 d-flex justify-content-center" style="position: relative;">
                                            <img id="fob" src="images/products/sample/remote.png" alt="" style="width: 5vw;min-width: 50px">
                                            <div id="fob-note" class="note" style="border-radius: 15px;position: absolute;top: 100%; width: 150px; background-color: black; color: white;">
                                                <p class="p-3">Orange FOB remote</p>
                                            </div>
                                        </div>
                                        <div class="col-2 d-flex justify-content-center">
                                            <img id="f210" src="images/products/sample/f210.png" alt="" style="width: 5vw;min-width: 50px">
                                            <div id="f210-note" class="note" style="border-radius: 15px;position: absolute;top: 100%; width: 150px; background-color: black; color: white;">
                                                <p class="p-3">F210 Photocell</p>
                                            </div>
                                        </div>
                                        <div class="col-2 d-flex justify-content-center ">
                                            <img id="s-fl-rel" src="images/products/sample/s-fl-rel.png" alt="" style="width: 5vw;min-width: 50px">
                                            <div id="s-fl-rel-note" class="note" style="border-radius: 15px;position: absolute;top: 100%; width: 150px; background-color: black; color: white;">
                                                <p class="p-3">Flashing Light Relay</p>
                                            </div>
                                        </div>
                                        <!-- take out -->
                                        <div class="col-2 d-flex justify-content-center">
                                            <img id="nir-50-kit" src="images/products/sample/nir-50-kit.png" alt="" style="width: 5vw;min-width: 50px">
                                            <div id="nir-50-kit-note" class="note" style="border-radius: 15px;position: absolute;top: 100%; width: 150px; background-color: black; color: white;">
                                                <p class="p-3">NIR50 KIT</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <img src="images/products/sample/board.png" alt="" class="img-fluid" style="width: 100%;height: 50px;">
                                        </div>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="accessory_row row d-flex justify-content-center" style="transform: translateY(1.7rem);">
                                        <div class="col-2 d-flex justify-content-center" style="position: relative;">
                                            <img id="sir01p91177" src="images/products/sample/sir01p91177.png" alt="" style="width: 5vw;min-width: 50px">
                                            <div id="sir01p91177-note" class="note" style="border-radius: 15px;position: absolute;top: 100%; width: 150px; background-color: black; color: white;">
                                                <p class="p-3">SIR01P91177 <br> Buzzer </p>
                                            </div>
                                        </div>
                                        <div class="col-2 d-flex justify-content-center">
                                            <img id="ld-ultra-din" src="images/products/sample/ld-ultra-din.png" alt="" style="width: 5vw;min-width: 50px">
                                            <div id="ld-ultra-din-note" class="note" style="border-radius: 15px;position: absolute;top: 100%; width: 150px; background-color: black; color: white;">
                                                <p class="p-3">LD-Ultra-Din <br> Loop Detector</p>
                                            </div>
                                        </div>
                                        <div class="col-2 d-flex justify-content-center ">
                                            <img id="ravioli-limit-switch" src="images/products/sample/ravioli-limit-switch.png" alt="" style="width: 5vw;min-width: 50px">
                                            <div id="ravioli-limit-switch-note" class="note" style="border-radius: 15px;position: absolute;top: 100%; width: 150px; background-color: black; color: white;">
                                                <p class="p-3">Ravioli Limit Switch</p>
                                            </div>
                                        </div>
                                        <div class="col-2 d-flex justify-content-center">
                                            <img id="bs-flo1" src="images/products/sample/bs-flo1.png" alt="" style="width: 5vw;min-width: 50px">
                                            <div id="bs-flo1-note" class="note" style="border-radius: 15px;position: absolute;top: 100%; width: 150px; background-color: black; color: white;">
                                                <p class="p-3">BS-FLO1 <br> Flashing Light</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <img src="images/products/sample/board.png" alt="" class="img-fluid" style="width: 100%;height: 50px;">
                                        </div>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="accessory_row row d-flex justify-content-center" style="transform: translateY(1.7rem);">
                                        <div class="col-2 d-flex justify-content-center" style="position: relative;">
                                            <img id="s-power-supply" src="images/products/sample/s-power-supply.png" alt="" style="width: 5vw;min-width: 50px">
                                            <div id="s-power-supply-note" class="note" style="border-radius: 15px;position: absolute;top: 100%; width: 150px; background-color: black; color: white;">
                                                <p class="p-3">S Power Supply</p>
                                            </div>
                                        </div>
                                        <div class="col-2 d-flex justify-content-center">
                                            <img id="cb6" src="images/products/sample/cb6.png" alt="" style="width: 5vw;min-width: 50px">
                                            <div id="cb6-note" class="note" style="border-radius: 15px;position: absolute;top: 100%; width: 150px; background-color: black; color: white;">
                                                <p class="p-3">CB6 <br> Control Board</p>
                                            </div>
                                        </div>
                                        <div class="col-2 d-flex justify-content-center ">
                                            <img id="bump-kit" src="images/products/sample/bump-kit.png" alt="" style="width: 7vw;min-width: 50px">
                                            <div id="bump-kit-note" class="note" style="border-radius: 15px;position: absolute;top: 100%; width: 150px; background-color: black; color: white;">
                                                <p class="p-3">Bump Kit</p>
                                            </div>
                                        </div>
                                        <div class="col-2 d-flex justify-content-center">
                                            <img id="rn6d-u" src="images/products/sample/rn6d-u.png" alt="" style="width: 7vw;min-width: 50px">
                                            <div id="rn6d-u-note" class="note" style="border-radius: 15px;position: absolute;top: 100%; width: 150px; background-color: black; color: white;">
                                                <p class="p-3">RN6U/RN6D <br> Up/Down Racking</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <img src="images/products/sample/board.png" alt="" class="img-fluid" style="width: 100%;height: 50px;">
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-0 col-lg-3">
                <div class="container" style="border-radius: 20px; background-color: lightgray; height: 100%; width: 100%;">
                    <div class="row d-flex flex-direction-column align-items-start">
                        <div class="col-12 py-2 mx-3" style="margin-top:3em;">
                            <button class="btn btn-secondary" style="text-wrap: nowrap;">Download Diagram</button>
                        </div>
                        <div class="col-12 py-2 mx-3">
                            <ul class="list-unstyled">
                                <li>
                                    <u><b style="font-size: 22px;">Similar operators</b></u>
                                </li>
                                <li>
                                    <b>Standard</b>
                                </li>
                                <li>
                                    <a href="/315lags"><i>315LAGS</i></a>
                                </li>
                                <li>
                                    <a href="/450lags"><i>450LAGS</i></a>
                                </li>
                                <li>
                                    <a href="/630lags"><i>630LAGS</i></a>
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    
</div>
<script>
var products = [$("#fob"),$("#f210"),$("#s-fl-rel"),$("#nir-50-kit"),$("#sir01p91177"),$("#ld-ultra-din"),$("#ravioli-limit-switch"),$("#bs-flo1"),$("#s-power-supply"),$("#cb6"),$("#bump-kit"),$("#rn6d-u")];
var product_notes = [$("#fob-note"),$("#f210-note"),$("#s-fl-rel-note"),$("#nir-50-kit-note"),$("#sir01p91177-note"),$("#ld-ultra-din-note"),$("#ravioli-limit-switch-note"),$("#bs-flo1-note"),$("#s-power-supply-note"),$("#cb6-note"),$("#bump-kit-note"),$("#rn6d-u-note")];

products.forEach((product, index) => {
    product.on("mouseenter", function() {
        product_notes[index].css("display", "block");
    }).on("mouseleave", function() {
        product_notes[index].css("display", "none");
    });
});

    
</script>
<%- include("../../../partials/footer") %>