<div id="loadingIndicator" style="height: 100vh; width: 100%; position: fixed; top: 0; background-color: white; z-index: 1100; display: flex; align-items: center; flex-direction: column; justify-content: center;">
    <h2 id="loadingText" style="font-size: 40px;">Loading... 0%</h2>
    <div class="animateText text-center">
        <div>We claim 100% duty cycle on all GDS operators.</div>
        <div>GDS operators are built to last.</div>
        <div>We are a <b style="color: #034a94;">Nice</b> company.</div>
        <div>Manufactured and Assembled in South Australia</div>
        <div>Please wait.... </div>
    </div>
    <div class="spinnerDots">
        <div class="dots1"></div>
        <div class="dots2"></div>
        <div class="dots3"></div>
    </div>
</div>